@import "tailwindcss";

@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 2, 6, 23; /* Slate 950 */
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
}

/* Efeito de Vidro (Glassmorphism) */
.glass {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-linear-to-r from-blue-400 via-emerald-400 to-blue-500;
}